<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti dolore, veritatis minima error maxime eaque inventore beatae accusamus quam nemo sequi esse assumenda iusto doloremque, numquam tempore voluptatum repellat.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti dolore, veritatis minima error maxime eaque inventore beatae accusamus quam nemo sequi esse assumenda iusto doloremque, numquam tempore voluptatum repellat.</p>        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita deleniti dolore, veritatis minima error maxime eaque inventore beatae accusamus quam nemo sequi esse assumenda iusto doloremque, numquam tempore voluptatum repellat.</p>
    </div>
    <%- include("./partials/footer.ejs") %> 

</body>
</html>